ACCT=$(aws sts get-caller-identity --output text --query 'Account')

export DOCKER_REGISTRY=$ACCT.dkr.ecr.us-west-2.amazonaws.com
aws ecr get-login-password | docker login --username AWS --password-stdin $AWS_ACCOUNT.dkr.ecr.$AWS_REGION.amazonaws.com
